<div class="jumbotron">
    <h1>Display Web API</h1>
    <p class="lead"> Display Web API can be used and enhanced to support console applications, windows services, mobile applications, web applications</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

